@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--body-color);
    font-family: "Montserrat", sans-serif;
    cursor: default;
    /*font-family: "Gruppo", sans-serif;*/
}
:root {
    --color-lightest:aliceblue;
    --color-lighter:#cbfccc;
    --body-color:#253728;
    --color-dark:#00ff1e;
}
h1,h2,h3,h4,p,ul {
    margin-top: 0;
}
.content p:not(:last-child) {
    margin-bottom: 20px;
}
h1 {
    color: var(--color-dark);
    font-style: italic;
    margin-bottom: 15px;
    font-size: 50px;
}
span {
    color: var(--color-lightest);
}
.dark {
    color: var(--color-dark);
}
.start {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #364c39;
}
.start p {
    color: var(--color-lightest);
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 700;
}
p span {
    margin: 0 10px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.content {
    margin-top: 30px;
}
.d-flex {
    display: flex;
}
h2 {
    color: var(--color-lightest);
    margin: 20px 0px 10px 0px;
    font-size: 35px;
    font-style: italic;
}
.info {
    color: var(--color-dark);
}
.content form div {
    width: 33.333%;
}
.content .d-flex {
    justify-content: space-between;
}
label {
    color: var(--color-lightest);
    padding: 10px 0px;
    font-size: 25px;
    display: block;
    font-style: italic;
    font-weight: 700;
}
form {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    justify-content: flex-start;
}
.right {
    width: 49%;
}
input {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid var(--color-lightest);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    outline: none;
    font-style: italic;
    color: var(--color-lightest);
    display: block;
    width: 100%;
    background: transparent;
}
::placeholder {
    font-weight: 700;
    color: var(--color-lightest);
}
.play {
    padding: 10px 15px;
    width: 33.33%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 700;
    background-color: var(--color-dark);
    color: var(--body-color);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}
.play:hover {
    background-color: #028811;
    color: white;
}
input, label {
    cursor: pointer;
}
.questions-section {
    display: flex;
    overflow: hidden;
    width: 60%;
    display: none;
}
.questions {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #364c39;
    display: none;
}
.anwsers {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 30px;
}
.awnser {
    width: 45%;
    margin-right: 15px;
    background-color: var(--body-color);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 20px;
    color: var(--color-lightest);
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: none;
    font-family: "Montserrat", sans-serif;
}
.awnser:hover {
    background-color: #012d06;
}

.next {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--color-lightest);
    font-weight: 700;
    margin-left: 20px;
    color: #014309;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.back {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--color-lightest);
    color: #014309;
    font-weight: 700;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.back:hover {
    background-color: #a8ccb2;
}
.next:hover {
    background-color: #a8ccb2;
}
text {
    color: var(--color-lightest);
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home,.finish {
    padding: 10px 20px;
    border: 3px solid rgb(234, 234, 234);
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
    color: rgb(234, 234, 234);
    font-weight: 700;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    
    transition: background 0.3s ease-in-out,
                color 0.3s ease-in-out;
}

.home:hover, .finish:hover {
    background-color: rgb(234, 234, 234);
    color: #012d06;
}
.end {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #608966;
}
.try {
    padding: 10px 15px;
    width: 33.33%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 700;
    background-color: var(--color-dark);
    color: var(--body-color);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}
.try:hover {
    background-color: #028811;
    color: white;
}

h3 {
    font-size: 25px;
    color:var(--color-lightest);
    text-transform: capitalize;
}
.result {
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    background-color: #364c39;
    display: none;
}
.name-end {
    color: var(--color-dark);
    display: inline-block;
    font-size: 30px;
}
.result p {
    font-size: 20px;
    color: var(--color-lightest);
    font-weight: 700;
}
.knowledge {
    color: var(--color-dark);
    text-transform: uppercase;
    font-style: italic;
}
.finishPoints {
    color: var(--color-dark);
}
.result p {
    padding: 0px 0px 10px 15px;
    border-left: 5px solid var(--color-dark);
    border-radius: 5px;
}
.result h3 {
    
    margin-top: 40px;
    border-bottom: 4px solid var(--color-lightest);
    border-radius: 10px;
    padding: 6px;
}


