body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 500px;
    background-color: beige;
    padding: 30px;
}

.d-flex {
    display: flex;
    justify-content: center;
}
.d-flex p {
    padding: 0px 7px;
    margin-top: 0;
}
.d-flex p:not(:last-child) {
    border-right: 1px solid black;
}
h3 {
    margin: 0px 0px 20px 0px;
    text-align: center;
}
.content input {
    width: 80%;
    padding: 10px;
}
button {
    padding: 12px 20px;
    background-color: rgb(0, 255, 251);
    border: none;
}
button:hover {
    background-color: rgb(11, 152, 149);
}