table {
    margin-top: 30px;
}
table tr {
    text-align: center;
}
.captions {
    font-weight: bold;
    font-size: 20px;
}
button {
    background-color: rgb(106, 203, 233);
    border: none;
    padding: 15px 20px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid black;
}
button:hover {
    background-color: rgb(87, 165, 189);
}