body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,p,ul {
    margin-top: 0;
}
header {
    background: linear-gradient(to bottom, #18aa47, #10692c);
    padding: 20px;
}

h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}
.album-container {
    width: 70%;
    display: flex;

}
.album-img {
    width: 30%;
    margin-right: 30px;
    box-shadow: 0px 0px 20px black;
    width: 300px;
    height: 300px;
}
header p {
    color: white;
}
.info-album {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
}
.artist-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.last-info {
    display: flex;
    align-items: center;
}
.last-info p {
    margin-bottom: 0;
    font-size: 20px;
}
.first-p {
    font-size: 30px;
}
.playSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background:linear-gradient(to bottom, #0d5524, #0a411c);
    
}
.playSection .left {
    display: flex;
    align-items: center;
}
.playSection .right {
    display: flex;
    align-items: center;
}
.playSection .right p {
    margin-bottom: 0;
    color: white;
    font-size: 20px;
}
.playSection .right i {
    margin-left: 10px;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
}
.play-button {
    padding: 35px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #18aa47;
    border: none;
    margin-right: 30px;
}
.play-button:hover {
    background-color: #10692c;
    cursor: pointer;
}
.play-button i {
    font-size: 20px;
}
.playSection .icons i{
    margin-right: 20px;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.playSection .icons i:hover {
    background-color: #18aa47;
    color: black;
    cursor: pointer;
}
.playSection .icons .border {
    border: 1px solid white;
    font-size: 15px;
}
.playSection .icons .border:hover {
    border: 1px solid #18aa47;
}

.infoSongsProperties {
    background-color: #121212;
    padding: 15px 50px 5px 50px;
    background:linear-gradient(to bottom, #0a411c, #072d14, #121212);
}
.infoSongsProperties .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoSongsProperties .title {
    display: flex;
    align-items: center;
}
.infoSongsProperties .title p {
    margin-right: 15px;   
}
.infoSongsProperties p {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}
.infoSongsProperties i {
    color: white;
    font-size: 20px;
}
.allsongsEd {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #121212;
}
.allsongsEd:hover {
    background-color: rgb(33, 33, 33);
    cursor: pointer;
}
.allsongsEd p {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
hr {
    margin-top: 10px;
    color: white;
}
.allsongsEd .artist {
    font-size: 15px;
    color: gray;
}
.playSection .right i:hover{
    background-color: #18aa47;
    color: black;
    cursor: pointer;
}